apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: roadmap
  labels:
    app: prometheus
    app.kubernetes.io/name: roadmap
spec:
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090
      name: http
  selector:
    app: prometheus
