apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data
  namespace: roadmap
  labels:
    app: grafana
    app.kubernetes.io/name: roadmap
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
