apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tempo-data
  namespace: roadmap
  labels:
    app: tempo
    app.kubernetes.io/name: roadmap
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
