apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: roadmap
  labels:
    app: tempo
    app.kubernetes.io/name: roadmap
spec:
  ports:
    - port: 3200
      targetPort: 3200
      name: http
    - port: 4317
      targetPort: 4317
      name: otlp-grpc
    - port: 4318
      targetPort: 4318
      name: otlp-http
  selector:
    app: tempo
