apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: roadmap
  labels:
    app: backend
    app.kubernetes.io/name: roadmap
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30081
      name: http
  selector:
    app: backend
