apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: roadmap
  labels:
    app: loki
    app.kubernetes.io/name: roadmap
spec:
  ports:
    - port: 3100
      targetPort: 3100
      name: http
    - port: 9096
      targetPort: 9096
      name: grpc
  selector:
    app: loki
