apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: roadmap
  labels:
    app: postgres
    app.kubernetes.io/name: roadmap
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
